<!DOCTYPE html>
<html>
<head>
	<title>Characters</title>
</head>
<body>
<h2>Characters</h2>
<div id="app">

	<label for="newCharacterName">New Character Name:</label>
	<input type="text" v-model="newCharacter.name" @keyup.enter="addNewCharacter">

	<h1>Favorite Characters</h1>
	<ul>
		<li v-for="favorite in favorites">{{ favorite }}</li>
	</ul>

	<h1>Characters</h1>
	<p v-if="characterNames.length === 0">No character data</p>
	<p v-else>
		<ul v-for="(name, index) in characterNames">
			<li>{{ name }} <button @click="favoriteCharacter(name, $event)">Favorite</button></li>
		</ul>
	</p>


</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
	// Vue 3
	const { createApp } = Vue;

	const app = createApp({
		data: () => ({
			characterNames: ['Luke Skywalker', 'Darth Vader', 'Obi-Wan Kenobi', 'Yoda'],
			favorites: [],
			newCharacter: {
				name: ''
			}
		}),
		methods: {
			favoriteCharacter(name, event) {
				this.favorites.push(name);
				event.target.disabled = true;
			},
			addNewCharacter() {
				this.characterNames.push(this.newCharacter.name);
				this.newCharacter.name = '';
			}
		}
	});

	app.mount('#app');
</script>
</body>
</html>
