<!DOCTYPE html>
<html>
	<head>
			<title>Playground</title>
	</head>
	<body>
		<h2>Hello Frontend Masters</h2>
		<div id="app">
			<h1>Counter</h1>
			<p>{{ count }}</p>
			<button @click="incrementCount">Increment Count</button>

			<div>
				<label for="incrementAmount">Increment By:</label>
				<input type="number" v-model="incrementAmount">
			</div>

			<hr />

			<p v-if="message.length % 2 === 0">Even: {{ message }}</p>
			<p v-else>Odd: {{ message }}</p>

			<ul>
				<li v-for="number in listOfNumbers">{{ number }}</li>
			</ul>
		</div>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script>
				// Vue 3, Options API
			const { createApp } = Vue;

			const app = createApp({
					data() {
						return {
							incrementAmount: 1,
							message: 'Hello it works',
							listOfNumbers: [1, 2, 3, 4, 5],
								favorites: [],
								count: 10
						}
					},
					methods: {
						incrementCount() {
							this.count += this.incrementAmount;
						}
					}
			});

			app.mount('#app');
		</script>
	</body>
</html>
